
  
  .carousel-caption {
    background: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background for better readability */
    color: #fff; /* Optional: Set text color */
    padding: 20px; /* Optional: Add padding to the caption */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .image-container {
    position: relative;
}

.image {
    width: 100%;
    height: 80vh;
}

.overlay-text {
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
     /* Background color with transparency */
    color: white;
    padding: 10px;
}


.section5{
  
  background-color: rgb(95, 92, 92);
  text-align: center;
  padding: 10;
  
  font-weight: bold;

}

/*index.html */
@media (max-width: 768px) {
  .first {
    padding-top: 56px; /* Adjust as needed for the fixed-top navbar */
  }

  .image-container {
    height: auto;
  }

  .overlay-text {
    text-align: center;
    padding: 20px;
  }

  .featurette img {
    height: auto;
  }

  .featurette h1 {
    font-size: 28px;
  }

  .featurette p {
    font-size: 16px;
  }

  .btn-primary {
    font-size: 14px;
  }

  /* Add any additional styles or overrides for small devices */
}

/* Default styles for larger devices */
.section-container {
  position: relative;
}

.section-container img {
  width: 100%;
}

.section-container .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Media query for small devices */
@media only screen and (max-width: 767px) {
  .section-container .overlay-text {
      top: 70%; /* Adjust the percentage based on your preference */
  }
  
}

.image1{
  max-height: 300px; /* Adjust the max-height value as needed */
  width: 100%;
}

@media only screen and (max-width: 767px) {
  /* Adjust the button position for small screens */
  .position-absolute {
      top: 80%; /* Adjust the top value as needed */
  }
}
