{% extends 'base.html' %}

{% block body %}

<div class="container col-xxl-8 px-4 py-5">
    
  <div class="row  align-items-center g-5 py-5">
    <h1>Post</h1>
    <hr>
    <a class="btn btn-dark" href="{% url 'create_post' %}">Create Post</a>

    {% for post in posts %}
        
        <div class="col-12 col-sm-8 col-lg-6">
        
            <h6 class="fw-bold text-body-emphasis lh-1 mb-3">{{ post.title }}</h6>
            <p>{{ post.content }}</p>
          
            <small>{{ post.created_at }}</small>
            <a class="btn btn-dark" href="{% url 'post_detail' post.id %}">Comment</a>

            



        </div>      
       
        
        <hr>
    {% endfor %}
  </div>
</div>


{% endblock %}
