{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container-fluid p-0">
      <!--first slide-->
      <section class="mt-5">
        <div class="position-relative flex-column">
          <img src="{% static 'img122.jpg' %}" class="img-fluid w-100">
          <div class="position-absolute top-50 start-50 translate-middle text-center text-white">
            <h1 class="fw-bold">It's that easy to <br>bring a Smile on<br> Their Faces</h1>
            <p class="fw-bold ">We don't ask for much, just help us with what you can- Be it Money, Skill or Your Time</p>
            <a class="btn btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLScQRE7vFFPaDJhbdBZJubFX-HUFLBmZTmewkxaIPVhz0pQXsQ/viewform">Donate Now</a>
          </div>
        </div>
    </section>
    
    <section class=" container mt-5 py-4">
      <div class="row">
        <div class="col-md-5">
          <img src="{% static 'img4.jpg' %}" class="img-fluid image1">

        </div>
        <div class="col-md-7">
          <h5>About us</h5>
          <h1 class="featurette-heading">Think global, Act local.</h1>
          <p class="lead">Act local.

            "NayePankh Foundation" is a non governmental organisation with a strong desire to help the society and make it a better place for all, 
            by doing everything in our power and to make our vision successful we would require your vital support. 
            Service to mankind is the service to god. Let’s revolutionise the society together!.</p>
            <a class="btn btn-primary"src="{% url 'about' %}">Learn More</a>
            <a class="btn btn-primary" src="{% url 'certificates' %}">Our Certificates</a>

        </div>
      </div>
    </section>
<!--third slide-->
  <section>
      <div class="image-container">
        <img src="{% static 'img133.jpg' %}" class="img-fluid image" alt="..."  style="opacity: 1;">
        <div class="overlay-text">
          <h1>Welcome to NayePankh Foundation</h1>
          <small>UP GOVT. | 80G & 12A Registered</small>
          <h5>We are one of the Biggest Student led NGO of India with its operations extended in the city of Kanpur,
             Ghaziabad and various other cities.</h5>
        </div>
    </div>
  </section>
<!--fourth-->
  <section class="container mt-5 py-4">
    <div class="row featurette">
      <div class="col-md-5">
        <img src="{%static 'img5.jpg' %}" class="img-fluid " style="height: 400px;">

      </div>
      <div class="col-md-7">
        <h5>Join Our</h5>
        <h2 class="featurette-heading fw-bold">Team</h2>
        <p class="lead">Act local.

          "Join our team and make a difference in the lives of those in need. At NayePankh Foundation, we are committed to creating positive change and empowering communities. By joining our team, you will have the opportunity to contribute your time, skills, and ideas to help make a real impact. Whether you are passionate about education, health, or providing support during times of crisis,
           there is a place for you on our team. Join us today and be a part of an organization that is making a difference, one person at a time."</p>
          <a class="btn btn-primary" href="/donate">JOIN US</a>
          

      </div>
    </div>
  </section>
<!--sixth-->
<section class="container-fluid my-4 bg-secondary">
  <div class=" row text-center">
    <div class="col-12">
      <h1 class="display-3 fw-bold">"If we all do something, then<br> together there is no problem <br>that we cannot solve!"</h1>
      <p>PRASHANT SHUKLA</p>
      <small>Founder & President, NayePankh Foundation</small>
    </div>
    <div class="row mt-5">
      <div class="col-md-6">
        <p>All our efforts are made possible only because of your support</p>
      </div>
      <div class="col-md-6">
        <p>Your donations are tax exempted under 80G of the Indian Income Tax Act</p>
      </div>
    </div>
  </div>
</section>
<!--get in  touch-->
  <section class="container ">
    <div class="row featurette">
      <div class="col-md-7">
       
        <h2 class="featurette-heading fw-bold display-1">Get In Touch</h2>
        <p>career@nayepankh.com</p>

        <p>WhatsApp: +91-6306266557</p>
        <p>Calling: +91- 8318500748</p>
        <p>Office Address: 104A/279 P.Road Kanpur </p>   
        <p>Pin Code: 208012</p>
        <div>
          <i class="fab fa-instagram"></i>
        </div>
      </div>  
      <div class="col-md-5">
        <img src="{%static 'naye12.jpg' %}" class="img-fluid" style="height: 300px;" alt="...">

      </div>
    </div>
  </section>

    </div>
</div>

{% endblock %}